*{margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
    .container{
        width: 70%;
        max-height: 1152px;
        margin: 0;}
    
    .row{display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;}
    
    header{background-color: #255ee9;}
    
    .site_header{padding: 1rem;}

    a{color: white;
    text-decoration: none;}

    .button{background-color: white;
    border-radius: 1rem;
    width: 4.5rem;
    height: 2rem;
    border: none;
    position: relative;
    right: 11rem;}
    
    .col-2{width: calc((100%/12)*2);}
    
    .col-8{width: calc((100%/12)*8);}
    
    .login{display: flex;
        justify-content: flex-end;
    padding: 1rem;}
    
    .logo{padding-left: 10rem;}
    
    .links{display: flex;
    justify-content: center;}
    
    ul{list-style: none;}
    
    li{padding: 1rem;}

    /*header*/
    
    .section1{background-image: url(./img/jumbo.png);
    background-size: cover;
    padding: 2rem;
    height: 500px;}
    
    .container_section1{width: 70%;
    max-width: 1152px;
    margin: auto;
    position: relative;
    left: 1rem;
    top: 3.5rem;}
    
    .row_section1{display: flex;
    justify-content: center;}
    
    .col-10{width: calc((100%/12)*10);}

    h1{font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 50px;}

    .text_section1{padding-right: 9rem;
    padding-top: 2.5rem;
    line-height: 1.8rem;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 7rem;}

    .container_buttons{
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: 1rem;
    }

    .button_white{background-color: white;
    border-radius: 2rem;
    border: none;
    height: 3rem;
    width: 10rem;
    font-family: Arial, Helvetica, sans-serif;}

    .button_dark{color: white;
    background-color: #1a1e21;
    border-radius: 2rem;
    border: none;
    height: 3rem;
    width: 12rem;
    font-family: Arial, Helvetica, sans-serif;}

    /*section1*/
    
    .container_section2{width: 70%;
    max-width: 1152px;
    margin: auto;}
    
    .row_section2{display: flex;
    justify-content: center;}
    
    .col-7_section2{width: calc((100%/12)*7);
    height: 20rem;
    margin-top: 9rem;
    margin-bottom: 9rem;}
    
    
   .imgitem1{margin-top: -2rem;
    margin-left: -1rem;}

    .col-5_section2{width: calc((100%/12)*5);
    height: 20rem;
    margin-top: 9rem;
    margin-bottom: 9rem;}

    .col-5_section2_title{font-family: Arial, Helvetica, sans-serif;
    padding-left: 8.5rem;
    padding-top: 0.5rem;
    font-size: 40px;}

    .col-5_section2_text{padding-left: 8.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0.5rem;
    line-height: 1.8rem;}

    /*section2*/

    .section3{background-color: #f6f6f6;}
    
    .container_section3{
        width: 70%;
        max-width: 1152px;
        margin: auto;}
    
    .row_section3{
        display: flex;
        justify-content: center;}

    .col-5_section3{width: calc((100%/12)*5);
    height: 20rem;
    margin-top: 9rem;
    margin-bottom: 9rem;}

    .col-5_section3_text{font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8rem;
    margin-top: 1.5rem;
    margin-right: 10rem;}

    .col-5_section3_title{font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-right: 10rem;}

    .col-7_section3{width: calc((100%/12)*7);
    height: 20rem;
    margin-top: 9rem;
    margin-bottom: 9rem;}

    .imgitem2{margin-left: -0.7rem;
    margin-top: -3.9rem;}

    /*section3*/
    
    .container_section4{    width: 70%;
        max-width: 1152px;
        margin: auto;}

    .col-7_section4{width: calc((100%/12)*7);
    height: 20rem;
    margin-top: 9rem;
    margin-bottom: 9rem;}

    .imgitem3{position: relative;
    right: 1.5rem;
    bottom: 3rem;}

    .col-5_section4{width: calc((100%/12)*5);
    margin-top: 9rem;
    margin-bottom: 9rem;}

    .col-5_section4_title{font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 4rem;
    position: relative;
    left: 8rem;}

    .col-5_section4_text{line-height: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5rem;
    margin-left: 8rem;}
    
    .row_section4{display: flex;
    justify-content: center}

    /*section4*/


    .section5{background-color: #f6f6f6;}
    
    .container_section5{
        width: 70%;
        max-width: 1152px;
        margin: auto;}
    
    .row_section5{
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 2rem;}
    
    .col-12{width: 1152px;}

    .col-12_section5_title{font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;}

    .col-12_section5_text{text-align: center;
    line-height: 1.8rem;
    padding: 0 5.5rem;
    font-family: Arial, Helvetica, sans-serif;}

    .adventure{font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    margin-bottom: 3rem;}

    .imgitem4{margin-left: 5rem;}

    .stars{position: relative;
    left: 21rem;
    top: 1rem;
    width: 36%;}

    .button_section5{background-color: #8ea1e1;
    color: white;
    border: none;
    border-radius: 2rem;
    width: 10rem;
    height: 3rem;
    margin-left: 27rem;
    font-weight: 600px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3rem;}

    /*section5*/

    footer{background-color: #1a1e21;
    color: white;}
    
    .container_top-footer{width: 60%;
    max-width: 1152px;
    margin: auto;
    border-bottom: 2px solid #8ea1e1;}
    
    .row_top-footer{display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;}
    
    .col-4{width: calc((100%/12)*4);
    height: 20rem;
    margin-top: 3rem;}

    .place{color: #8ea1e1;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 11rem;}
    
    .flag{display: flex;
    gap: 4px;
    margin-top: 1rem;}

    .italianflag{height: 18px;}

    .italiantext{font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;}

    .social{margin-top: 1rem;}

    .col-2_top-footer{width: calc((100%/12)*2);
    height: 20rem;
    margin-top: 3rem;}

    h5{color: #8ea1e1;
    font-family: Arial, Helvetica, sans-serif;}

    a{font-family: Arial, Helvetica, sans-serifs;
    font-size: 12px;
    line-height: 1.8rem;}

    ul{padding-right: 5rem;
    line-height: 1.5rem;
    padding-top: 0.5rem;}
    
    /*top-footer*/
    
    .container_bottom-footer{
        width: 70%;
        max-width: 1152px;
        margin: auto;}
    
    .row_bottom-footer{
    display: flex;}
    
    .col12_bottom-footer{width: calc((100%/12)*12);
    height: 3rem;
    display: flex;
    justify-content: space-around;
    gap: 34rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;}
      
    .col-logo-bottom-footer{margin-top: 1rem;}
    
    .col-registrati-bottom-footer{margin-top: 1rem}
    
    .signup{border-radius: 2rem;
    border: none;
    background-color: #8ea1e1;
    width: 5rem;
    height: 1.5rem;
    color: white;}

    /*bottom-footer*/